*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Barlow', sans-serif;
  background: #000000;
}
/* Header options animation */
.div-header{
  padding: 20px;
  display: flex;
  justify-content: center;
  color:  #ffff;

}
main{
  background-image: url(../assets/photos/photo1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slash::after{
  margin: 5px;
  content: " /  ";
}
/*letters animation*/
.flex-div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.name{
  color:  #ffff;
  font-size: 40px;
  text-align: center;
  font-family: 'Ropa Sans', sans-serif;
}
.sub-name{
  color:  red;
  text-align: center;
/*  border-top: 3px solid #000000;*/
}
.sub-name::after{
  content: " > ";
}
.sub-name::before{
  content: " < ";
}

@media (min-width: 992px) {
  .name{
    font-size: 80px;
    font-family: 'Ropa Sans', sans-serif;
  }
  .slash::after{
    margin: 20px;
    content: " /  ";
  }
}
