*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Barlow', sans-serif;
  background: #000000;
}
/* Header options animation */
.div-header{
  padding: 20px;
  display: flex;
  justify-content: center;
  color:  #ffff;
}
a{
  text-decoration: none;
  color:#ffcccc;
}
a:hover{
  text-decoration: none;
  color: #ffff;
}
/*cover page*/
main{
  background-image: url(../assets/photos/photo1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}
.slash::after{
  margin: 5px;
  content: " /  ";
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.name{
  color:  #ffff;
  font-size: 40px;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
}
.sub-name{
  color:  #ffcccc;
  text-align: right;
/*  border-top: 3px solid #000000;*/
}
.sub-name::after{
  content: " > ";
}
.sub-name::before{
  content: " < ";
}
.margin-bottom{
  border-bottom: 3px solid #ffff;
}
/* about-me */
.about-me{
  background: #ffff;
}
.description{
  padding: 50px;
  text-align: left;
  height: 100vh;
  color: #ffff;
  background: #000000;
}
.skills{
  background: #ffff;
  height: 100vh;
}
.photo{
 padding: 50px;
 background:#ffcccc;
 height: 100vh;
}
@media (min-width: 992px) {
  main{
    height: 100vh;
  }
  .name{
    font-size: 80px;
    font-family: 'Ropa Sans', sans-serif;
  }
  .slash::after{
    margin: 20px;
    content: " /  ";
  }
}
