<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maythe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/icons/style.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet">
  </head>
  <body>
    <!---header-menu-->
    <header>
      <div class="row div-header">
        <a href="#about-me"class="col-xs-4 slash" id="options">Conóceme</a>
        <a href="#about-me"class="col-xs-4 slash" id="options">Mira mis trabajos</a>
        <a href="#about-me"class="col-xs-4 " id="options">Contáctame</a>
      </div>
    </header>
    <!---Cover Page-->
    <main class=" introduction flex">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h1 class="name">MAYTHE INFANTE</h1>
          <h4 class="sub-name"> <em>UX designer</em></h4>
        </div>
      </div>
    </main>
    <!---About me-->
    <section class="about-me" id="about-me">
      <div class="row">
        <!---DESCRIPTION-->
        <div class="col-md-4 col-xs-12 description">
          <h3>La primera y la más simple emoción que descubrimos en la mente humana es la <p class="pink">c u r i o s i d a d .</p></h3>
          <br>
          <h5 class="text-align-right">Hola, soy M a y t h e</h5>
          <br>
          <p> <em>Curiosa de nacimiento, exploradora y aventureda desde mi niñez.</em> </p>
          <p>Mi constante interés por aprender nuevas experiencias me llevó a conocer más de cerca el mundo de la t e c n o l o g í a . </p>
          <p><em>El único modo de salir de una caja cerrada es inventar la manera de salir</em></p>
          <p>Soy egresada de L a b o r a t o r i a , especialista en diseño de experiencia de usuario. Me gusta crear y proponer soluciones amigables, innovadoras, viables y <br> s o s t e n i b l e s .</p>
          <a href="#skills"><span class="icon-keyboard_arrow_down"></span></a>
        </div>
        <!---PHOTOS-->
        <div class="col-md-4 col-xs-12 photo flex">
        </div>
        <div class="col-md-4 col-xs-12 photo2">
        </div>
      </div>
    </section>
    <!---SKILLS-->
    <section class="skills" id="skills">
      <div class="row">
        <div class="col-md-4 col-xs-6 soft-skills">
          <h2 class="pink"><strong>Mis habilidades blandas</strong></h2>
        </div>
        <div class="col-md-8 col-xs-6 tech-skills black">
          <h2><strong>Mis habilidades técnicas</strong></h2>
        </div>
      </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="vendors/js-jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
